.mResume_BackgroundColor{
	width: 100%;
	height: 100%;
	background:-webkit-linear-gradient(#ededed,#f7f7f7);
	background:-o-linear-gradient(#ededed,#f7f7f7);
	background:-moz-linear-gradient(#ededed,#f7f7f7);
	background:linear-gradient(#ededed,#f7f7f7);
	position: fixed;top: 0;left: 0;
	z-index: -1;
}
/*  选项卡  */
.mResume_Tabbox{
	width: 100%;
	height: 1.4rem;
	position: fixed;
	left: 0;top: 0;
	background: rgb(255,255,255,0.1);
	backdrop-filter: brightness(1) blur(30px);
    -o-backdrop-filter: brightness(1) blur(30px);
    -ms-backdrop-filter: brightness(1) blur(30px);
    -moz-backdrop-filter: brightness(1) blur(30px);
    -webkit-backdrop-filter: brightness(1) blur(30px);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    z-index: 2;

}
.mResume_Tab{
	width: 9.04rem;
	height: .96rem;
	overflow: hidden;
	background: rgba(0,0,0,0.1);
	border-radius: .24rem;
	margin: 0 auto;
	margin-top: .22rem;
	position: relative;
	/*display:none;*/
}
.mResume_Tab_resume,
.mResume_Tab_works{
	width: 4.38rem;
	height: .84rem;
	text-align: center;
	line-height: .84rem;
	font-size: .4rem;
	font-weight: bold;
	position: absolute;
	top: .06rem;
	border-radius: .2rem;
	z-index: 1;
}
.mResume_Tab_resume{
	float: left;
	left: .06rem;
}
.mResume_Tab_works{
	float: right;
	right: .06rem;
}
.mResume_Tab_backgroun_block{
	width: 4.38rem;
	height: .84rem;
	position: absolute;
	left: .06rem;
	top: .06rem;
	background: #fff;
	border-radius: .2rem;
	box-shadow: 0 .08rem .15rem rgba(0,0,0,0.25);
	transition: transform .2806s;
}
/*  顶部行距 隐藏的签名  */
.mResume_top_Line_spacing{
	width: 100%;
	height: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
	color: rgba(0,0,0,0.25);
	font-size: 12px;
}
.mResume_top_Line_spacing_span{
	display: inline-block;
	color: rgba(0,0,0,0.45);
}
/********************/
/*  简历页 样式 开始  */
/********************/
.mResume{
	width: 100%;
	height: auto;
	display: none;
}
.mResume_Contact_information{
    width: 100%;
    height: auto;
    text-align: center;
}
.mResume_Contact_information_contact{
	width: 100%;
	height: 1.8rem;
	line-height: 1.8rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	font-size: .4rem;
}
.mResume_Contact_information_name{
	width: 100%;
	height: 2.28rem;
	line-height: 2.28rem;
	font-size: .8rem;
	font-weight:bold;
}
/*  简历 内容 样式 开始  */
.mResume_content	{
	width: 11.94rem;
	height: auto;
	margin: 0 auto;
	border-radius: .4rem;
	overflow: hidden;
	margin-bottom:.9rem;
	box-shadow: 0 0 .5rem rgba(0,0,0,0.1);
}
.mResume_content_title{
	width: 100%;
	height: 1.26rem;
	line-height: 1.26rem;
	padding-left: .35rem;
	font-size: .56rem;
	font-weight:bold;
	background: #fff;
}
.mResume_content_con{
	width: 100%;
	height: auto;
	margin-top: 1px;
	background: #fff;
	color: #444;
}
.mResume_content_con_company_name_time_column{
	width: 100%;
	height: 1.5rem;
	padding-top: .4rem;
	padding-left:.35rem;
	padding-right:.35rem;
}
.mResume_content_con_company_name{
	width: 50%;
	float: left;
	font-size: .46rem;
	font-weight: bold;
	display: inline-block;
	position: relative;
}
.mResume_content_con_company_time{
	width: 50%;
	float: right;
	font-size: .3rem;
	color: #bfbfbf;
	text-align: right;
}
.mResume_content_con_description_of_job{
	padding-left:.35rem;
	padding-right:.35rem;
	padding-bottom:.35rem;
	font-size: .46rem;
}
.mResume_content_con_description_of_job_position{
	background: rgba(0,0,0,0.035);
	display: inline-block;
	padding: .2rem;
	border-radius: .2rem;
	margin-bottom: .35rem;
}
/********************/
/*  作品页 样式 开始  */
/********************/
.mResume_Works{
	width: 100%;
	height: auto;
	/*display: none;*/
}
.mResume_Works_All_works,
.mResume_Works_Hand_Painted{
	width: 11.22rem;
	height: 13.8rem;
	background: #fff;
	border-radius: .4rem;
	margin: 0 auto .9rem;
	box-shadow: 0 0 .5rem rgba(0,0,0,0.1);
	overflow: hidden;
	position: relative;
}
.mResume_Works_All_works_BackgroundVideo{
	width: 11.22rem;
	height: 14.96rem;
	position: absolute;
	left: 0;
	top: -0.58rem;
}
.mResume_Works_All_works_subtitle,
.mResume_Works_All_works_Headline,
.mResume_Works_All_works_timetext{
	color: #fff;
	position: absolute;
	left: .6rem;
	mix-blend-mode: exclusion;
}
.mResume_Works_All_works_subtitle{
	font-size: .44rem;
	font-weight: bold;
	top: .54rem;
	text-shadow: 0 0 .44rem rgba(0,0,0,0.25);
}
.mResume_Works_All_works_Headline{
	font-size: .84rem;
	font-weight: bold;
	top: 1.28rem;
	text-shadow: 0 0 .84rem rgba(0,0,0,0.25);
}
.mResume_Works_All_works_timetext{
	font-size: .37rem;
	/*font-weight:300;*/
	bottom: .44rem;
	text-shadow: 0 0 .37rem rgba(0,0,0,0.35);
}

/*  footer-nav  */
.mResume_footer_nav_box{
	width:100%;
	height:1.2rem;
	overflow:hidden;
	position:fixed;
	bottom: .5rem;
	display: none;
}
.mResume_footer_nav{
	width:11.94rem;
	height:100%;
	background-color: rgba(0, 0, 0, 0.04);
	margin:0 auto;
	border-radius:100px;
	backdrop-filter: brightness(1) blur(30px);
    -o-backdrop-filter: brightness(1) blur(30px);
    -ms-backdrop-filter: brightness(1) blur(30px);
    -moz-backdrop-filter: brightness(1) blur(30px);
    -webkit-backdrop-filter: brightness(1) blur(30px);
    position: relative;
}
.mResume_footer_nav1,
.mResume_footer_nav2,
.mResume_footer_nav3,
.mResume_footer_nav4{
	width: 3.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	position: absolute;
	top: 0;
}
.mResume_footer_nav1{
	left: .12rem;
}
.mResume_footer_nav2{
	left: 2.95rem;
}
.mResume_footer_nav3{
	left: 5.77rem;
}
.mResume_footer_nav4{
	left: 8.62rem;
}
.mResume_footer_nav_backgroun_block{
	width: 3.2rem;
	height: .96rem;
	background: rgba(0,0,0,0.25);
	border-radius: 100px;
	position: absolute;
	top: .12rem;
	left: .12rem;
}
/*  感谢您的完整阅读 END  */
.mResume_end{
	text-align: center;
	color: rgba(0,0,0,0.35);
	font-size: 12px;
	padding-top: .35rem;
	padding-bottom: .35rem;
}
/*  底部行距  */
.mResume_footer_Line_spacing{
	width:100%;
	height:1rem;
}
/*
	小部件
*/
/*  分割线  */
.mResume_split_line{
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.04);
	margin-top: .3rem;
	margin-bottom: .3rem;
}
/*  竖杠  */
.vertical_bar{
	color: rgba(0,0,0,0.35);
	display: inline-block;
}
/*  蓝色 箭头  */
.mResume_content_con_company_name_arrow1,
.mResume_content_con_company_name_arrow2{
	width: .4rem;
	height: .4rem;
	display: inline-block;
	position: absolute;
	top: 0.12rem;
}
.mResume_content_con_company_name_arrow1{
	left: 1.9rem;
}
.mResume_content_con_company_name_arrow2{
	left: 5.7rem;
}








































