.mResume_BackgroundColor{
	width: 100%;
	height: 100%;
	background:-webkit-linear-gradient(#ededed,#f7f7f7);
	background:-o-linear-gradient(#ededed,#f7f7f7);
	background:-moz-linear-gradient(#ededed,#f7f7f7);
	background:linear-gradient(#ededed,#f7f7f7);
	position: fixed;top: 0;left: 0;
	z-index: -1;
}
.mResume_Tabbox{
	width: 100%;
	height: 1.4rem;
	position: fixed;
	left: 0;top: 0;
	background: rgb(255,255,255,0.1);
	backdrop-filter: brightness(1) blur(30px);
    -o-backdrop-filter: brightness(1) blur(30px);
    -ms-backdrop-filter: brightness(1) blur(30px);
    -moz-backdrop-filter: brightness(1) blur(30px);
    -webkit-backdrop-filter: brightness(1) blur(30px);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.mResume_Tab{
	width: 9.04rem;
	height: .96rem;
	overflow: hidden;
	background: rgba(0,0,0,0.1);
	border-radius: .24rem;
	margin: 0 auto;
	margin-top: .22rem;
	position: relative;
}
.mResume_Tab_resume,
.mResume_Tab_works{
	width: 4.38rem;
	height: .84rem;
	text-align: center;
	line-height: .84rem;
	font-size: .4rem;
	font-weight: bold;
	position: absolute;
	top: .06rem;
}
.mResume_Tab_resume{
	float: left;
	left: .06rem;
}
.mResume_Tab_works{
	float: right;
	right: .06rem;
}
.mResume_Tab_backgroun_block{
	width: 4.38rem;
	height: .84rem;
	position: absolute;
	left: .06rem;
	top: .06rem;
	background: #fff;
	border-radius: .2rem;
	box-shadow: 0 .08rem .15rem rgba(0,0,0,0.25);
}





.mResume{
	width: 100%;
	height: auto;
}
.mResume_Contact_information{
    width: 100%;
    height: auto;
    text-align: center;
}
.mResume_Contact_information_name{
	font-size: .6rem;
	padding-top: .9rem;
	font-weight:bold;
	margin-bottom: .2rem;
}
.mResume_Contact_information_contact{
	font-size: .4rem;
	margin-bottom:.6rem;
}
/*  工作经历  */
.mResume_content	{
	width: 11.94rem;
	height: auto;
	margin: 0 auto;
	border-radius: .4rem;
	overflow: hidden;
	margin-bottom:.4rem;
}
.mResume_content_title{
	width: 100%;
	height: 1.26rem;
	line-height: 1.26rem;
	padding-left: .35rem;
	font-size: .56rem;
	font-weight:bold;
	background: #fff;
}
.mResume_content_con{
	width: 100%;
	height: auto;
	margin-top: 1px;background: #fff;
}
.mResume_content_con_company_name_time_column{
	width: 100%;
	height: 1.5rem;
	padding-top: .4rem;
	padding-left:.35rem;
	padding-right:.35rem;
}
.mResume_content_con_company_name{
	width: 50%;
	float: left;
	color: #666;
	font-size: .46rem;
	font-weight: bold;
	display: inline-block;
}
.mResume_content_con_company_time{
	width: 50%;
	float: right;
	font-size: .3rem;
	color: #bfbfbf;
	text-align: right;
}
.mResume_content_con_description_of_job{
	padding-left:.35rem;
	padding-right:.35rem;
	padding-bottom:.35rem;
	font-size: .46rem;
}
.mResume_content_con_description_of_job_position{
	font-size:.5rem;
	color:#666;
}


/*  footer-nav  */
.footer_nav_box{
	width:100%;
	height:1.2rem;
	overflow:hidden;
	position:fixed;
	bottom: .6rem;

}
.footer_nav{
	width:11.94rem;
	height:100%;
	background-color: rgba(0, 0, 0, 0.04);
	margin:0 auto;
	border-radius:100px;
	backdrop-filter: brightness(1) blur(30px);
    -o-backdrop-filter: brightness(1) blur(30px);
    -ms-backdrop-filter: brightness(1) blur(30px);
    -moz-backdrop-filter: brightness(1) blur(30px);
    -webkit-backdrop-filter: brightness(1) blur(30px);
}





























