.mResume-BackgroundColor{
	width: 100%;
	height: 100%;
	background:-webkit-linear-gradient(#ededed,#f7f7f7);
	background:-o-linear-gradient(#ededed,#f7f7f7);
	background:-moz-linear-gradient(#ededed,#f7f7f7);
	background:linear-gradient(#ededed,#f7f7f7);
	position: fixed;top: 0;left: 0;
	z-index: -1;
}
.mResume{
	width: 100%;
	height: auto;
}
.mResume-Contact-information{
    width: 100%;
    height: auto;
    text-align: center;
}
.mResume-Contact-information-name{
	font-size: .6rem;
	padding-top: .9rem;
	font-weight:bold;
	margin-bottom: .2rem;
}
.mResume-Contact-information-contact{
	font-size: .4rem;
	margin-bottom:.6rem;
}
/*.mResume-Contact-information-contact-span1{
	color: #999;
	display: inline-block;
}*/
/*  工作经历  */
.mResume-content	{
	width: 11.94rem;
	height: auto;
	margin: 0 auto;
	border-radius: .4rem;
	overflow: hidden;
	margin-bottom:.4rem;
}
.mResume-content-title{
	width: 100%;
	height: 1.26rem;
	line-height: 1.26rem;
	padding-left: .35rem;
	font-size: .56rem;
	font-weight:bold;
	background: #fff;
}
.mResume-content-con{
	width: 100%;
	height: auto;
	margin-top: 1px;background: #fff;
}
.mResume-content-con-company-name-time-column{
	width: 100%;
	height: 1.5rem;
	padding-top: .4rem;
	padding-left:.35rem;
	padding-right:.35rem;
}
.mResume-content-con-company-name{
	width: 50%;
	float: left;
	color: #666;
	font-size: .46rem;
	font-weight: bold;
	/*padding-left: .35rem;*/
	display: inline-block;
}
.mResume-content-con-company-time{
	width: 50%;
	float: right;
	font-size: .3rem;
	color: #bfbfbf;
	text-align: right;
	/*padding-right: .35rem;*/
}
.mResume-content-con-description-of-job{
	padding-left:.35rem;
	padding-right:.35rem;
	padding-bottom:.35rem;
	font-size: .46rem;
}
.mResume-content-con-description-of-job-position{
	font-size:.5rem;
	color:#666;
}


/*  footer-nav  */
.footer-nav-box{
	width:100%;
	height:1.2rem;
	overflow:hidden;
	
	position:fixed;
	bottom: .23rem;
}
.footer-nav{
	width:11.94rem;
	height:100%;
	background-color: rgba(0, 0, 0, 0.04);
	margin:0 auto;
	border-radius:100px;
}

















































